body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(247, 247, 197);
    margin-left: 100px;
    margin-right: 100px;
}

.score-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.col {
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}

.result-box{
    padding: 100px;
    border: 1px solid rgb(187, 110, 22);
}

.left, .right, .middle{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
    align-items: center;

}

button{
    width: 130px;
    height: 50px;
    border: 1px solid rgb(187, 110, 22);
    border-radius: 10px;
    background-color: rgb(187, 110, 22);
    color: rgb(247, 247, 197);
    transition: 0.5s;
}

.btn-human:hover {
    border: 5px solid saddlebrown;
    font-size: larger;

}
